<h1>Carritos</h1>
    <hr>
    <div class="container">
        {{#each cart}}
            {{product.description}}
            {{product.description}}
            ${{product.price}}
            quantity:{{quantity}}
        {{/each}}
    </div>
    <br>