<h1>Chat con Websockets</h1>
<header>
    <nav>
        <ul class="nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/products">Productos</a>
            </li>
            <li>
                <a href="/realTimeProducts">Real Time Products</a>
            </li>
            <li>
                <a href="/carts/663abad4c100e248d80f3373">Carrito</a>
            </li>
        </ul>
    </nav>
    <hr />
</header>
<hr>
<input type="text" id="mensaje">
<div id="mensajes"></div>

<br><br>
<a href="/">Home Page</a>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>